.bootstrap .alert-info {
    background-color: #F4eef7;
    border-color: #5c0075;
    color: #5C0075;
}

.bootstrap .alert-info > h3 {
    background-color: #F4eef7;
    border-top: none;
}

.bootstrap .im-col-title {
    color: #004499;
    text-shadow: 1px 1px 1px #FFFFFF;
}

.fm-header-icon {
    margin-bottom: 4px;
}

.im-table-container .table tbody > tr td {
    font-size: 0.8em;
}

.well .scroll-bar {
    box-shadow: none; /**inset 0 1px 3px #fff, inset 0 -8px 2px #E1D4E6;**/
}

.scroll-bar-wrap .scroll-bar.scrolling {
    box-shadow: none; /**inset 0 1px 3px #fff, inset 0 -8px 2px #e1d4e6, 0 0 16px rgba(180, 130, 190, 0.6); **/
    background: #5C0075;
}

.bootstrap a:hover,
.bootstrap a {
    color: #5C0075;
}

.typeahead.dropdown-menu li > a:hover,
.typeahead.dropdown-menu .active > a,
.typeahead.dropdown-menu .active > a:hover,
.bootstrap .dropdown-menu li > a:hover,
.bootstrap .dropdown-menu .active > a,
.bootstrap .dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #5C0075;
}

.im-table-container .table tbody > tr td.im-highlight {
    background: #9f67ad;
}

.popover-title {
    background-color: #f4eef7;

}

.typeahead.dropdown-menu strong {
    color: #5C0075;
}

.bootstrap .dropdown-menu li {
    margin-left: 4px;
}

.bootstrap .dropdown-menu .divider {
    background-color: transparent;
}

.bag-detail-table .im-query-actions li > .btn {
    width: none;
}
.bag-detail-table .im-query-actions li > .btn-group > .btn:first-child {
    width: 9em;
}

.bag-detail-table .active {
    background-color: white;
    color: #343434;
    padding: 0;
}

.bag-detail-table .im-query-actionbar > ul > .im-action {
    margin-right: 2.5em;
}
