/**
 * Shamelessly (gratefully) cribbed from jbalogh
 * https://github.com/jbalogh
 *
 * CSS for github ribbon.
 */

@font-face {
    font-family: Collegiate;
    src: url("../fonts/Collegiate.ttf");
}

.gh-ribbon {
    text-decoration: none;
}

.gh-ribbon a > .text {
    font-family: Collegiate, sans-serif;
    font-size: 14px;
    letter-spacing: -.1px;
}

.gh-ribbon a {
    color: white;
    line-height: 1.35em;
    opacity: 0.80;
    padding: 0.25em 0;
    position: relative;
    top: 2.5em;
    -moz-box-shadow: 0 0 13px #888;
    -webkit-box-shadow: 0 0 13px #888;
    display: block;
}

.right.gh-ribbon a {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    right: -2.6em;
}

.right.gh-ribbon {
    right: -0.5em;
}

.gh-ribbon {
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 10em;
    z-index: 2000;
}

.gh-ribbon a:hover {
    text-decoration: none;
    color: white;
}

.gh-ribbon .red {
    background-color: #9A0000;
    background: -webkit-gradient(linear, left bottom, left top, from(#9A0000), to(#A90000));
}

.gh-ribbon .red .text {
    border: 1px solid #bf6060;
}

.gh-ribbon a .text {
    padding: 0.1em 3em;
}
.gh-ribbon a .text:before {
    content: "Fork me on GitHub"
}

.gh-ribbon a:hover .text:before {
    content: "The Octocat wills it!"
}
