
div.dataTables_length label {
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table.table {
    clear: both;
    margin-bottom: 6px !important;
}

th .im-col-summary.navbar {
    margin-bottom: 0px;
}

table.progress {
    padding: 5em 3em;
}

.im-table-overlay {
    border-radius: 10px;
    -moz-box-shadow: 0 0 3px 3px #333;
    -webkit-box-shadow: 0 0 3px 3px #333;
    box-shadow: 0 0 3px 3px #333;
    position: absolute;
    opacity: 0.4;
    background-color: #333;
    z-index: 5000;
}

.im-table-overlay.discrete {
    opacity: 0;
}

.im-table-overlay h1 {
    color: white;
    position: absolute;
    font-size: 64px;
    /*margin-left: auto;
    margin-right: auto;
    margin-top: 3em;*/
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
}

table.dataTable > thead > tr {
    color: white;
    background-color: #2c2c2c;
}

.im-col-summary.dropdown .dropdown-menu {
    padding: 0.2em;
    color: #333;
    top: 111%;
    left: -20%;
    min-width: 20em;
    max-width: 25em;
    font-family: 'Muli', 'Helvetica', sans-serif;
    font-weight: normal;
}

.im-selector-col {
    width: 10%;
}

.im-item-col {
    width: 80%;
}

.im-count-col {
    width: 10%;
}

.im-prop-col {
    10%;
}

.im-filter {
    position: relative;
    top: -0.5em;
    margin-right: 0.5em;
}

.im-pie-facet .im-item-col {
    width: 70%;
}

.im-col-summary .dropdown-menu a {
    display: inline-block;
    clear: none;
}

.im-col-summary .dropdown-menu .im-item-table {
    display: block;
    max-height: 12em;
    overflow: auto;
}

.im-con-overview i {
    float: right;
}

.dropdown.open .summary-img {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); 

}

table.table thead .sorting { background: url('../lib/DataTables-1.9.0/media/images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../lib/DataTables-1.9.0/media/images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../lib/DataTables-1.9.0/media/images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../lib/DataTables-1.9.0/media/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../lib/DataTables-1.9.0/media/images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
    outline: none;
}

th > i {
    float: right;
    margin-right: 1em;
}

table.dataTable tbody tr td.active {
    background-color: rgba(200, 240, 240, 0.35)
}

.im-query-results {
    min-height: 30em;
}

.im-result-field {
    display: block;
    width: 100%;
    margin: -8px;
    padding: 8px;
}

.im-dropdown-summary .im-constraints h3 {

}

.im-dropdown-summary .im-constraints button[type="submit"] {
    width: 40%;
}

.im-value-options.btn-group {
    float: right;
}

.im-query-actions .dropdown-menu, .typeahead.dropdown-menu {
    max-width: none;
}

/* Actions (export, create list, etc.) */

.im-query-actions li {
    list-style-type: none;
    margin: 0.5em 0em;
}

.im-query-actions li > .btn {
   width: 15em;
}

.im-query-actions li > .btn-group > .btn:first-child {
    width: 13em;
}

.im-query-actions fieldset.control-group > label {
    width: 6em;
}

.im-action > form > .btn-group {
    margin-top: 1em;
}

.im-export-destinations.form {
    display: block;
    margin: 0 0.2em;
}

.typeahead.dropdown-menu strong {
    color: #08c;
}

.typeahead.dropdown-menu .active strong {
    color: white;
    text-transform: uppercase;
}

.im-constraint label {
    padding: 0;
    display: block;
    font-weight: bold;
}

.im-constraint .table td {
    vertical-align: middle;
    font-size: 0.9em;
}

.im-query-tools select, .im-query-tools input, .im-query-tools label  {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0.4em;
}

.im-constraint {
    font-size: 0.9em;
}

.colvis {
    float: left;
}

.node-adder label {
    margin-right: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
}

.null-value {
    text-transform: uppercase;
    color: #aaa;
}

.im-node {
    border-left: 1px solid #aaa;
    padding: 0.5em;
    display: inline-block;
    list-style-type: none;
}

.im-constraint {
    list-style-type: none;
}

.im-node i {
    margin-left: 1em;
}

.im-node:first-child {
    border-left: none;
}

.node-adder {
    width: 100%;
}

.node-remover dd input {
    margin-right: 1em;
}

.node-remover dt {
    border-top: 1px solid #ddd;
    padding-top: 0.5em;
    margin-top: 0.5em;
}

.node-remover dt i {
    float: right;
    margin-right: 2em;
}

.node-remover dd {
    display: none;
}

.im-constraints {
    padding: 0.5em;
}

.im-col-summary .dropdown-menu .divider {
    background-color: transparent;
}

.im-constraints ul {
    margin-left: 0;
}

.im-constraint form label i {
    float: right;
    margin-right: 0.5em;
}

.im-constraint fieldset, .im-constraint .btn-group {
    display: none;
}

.new.im-constraint fieldset, .new.im-constraint .btn-group {
    width: 100%;
    display: block;
}

.im-constraint-adder select, .im-constraint-adder input {
    display: inline-block;
}

.im-constraint .btn-group {
    margin: 0.3em;
}

.im-query-facets input {
    margin: 0em 0 1em 0;
}

input.im-extra-value {
    width: 100%;
    margin-top: 0.4em;
}

input.im-constraint-adder {
    margin-bottom: 0.5em;
}

.im-constraint a {
    margin-left: 0.5em;
    margin-top: 0.5em;
    float: right;
}

.im-constraint-edit a {
    display: none;
}

.btn-toggle-selection:after {
    content: "Select All";
}

.btn-toggle-selection.im-invert:after {
    content: "Invert Selection"
}

.table .alert-error {
    padding: 1em;
    max-width: 30em;
    min-height: 10em;
    margin-top: 5em;
    margin-left: 5em;
    margin-bottom: 5em;
}

.table .alert-error .close {
    right: -8px;
    top: -10px;
}

#logged-in {
    display: none;
}
#logged-in.logged-in {
    display: inline-block;
}
#logged-out {
    display: inline-block;
}
#logged-out.logged-in {
    display: none;
}

.v9.unsupported {
    display: none;
}

.im-con-summary {
    margin-left: 0px;
    margin-bottom: 0.5em;
}

.dataTables_paginate.paging_bootstrap {
    position: relative;
    right: -50px;
}

.im-table-summary {
    position: relative;
    left: 20px;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.3em;
    margin-bottom: 0.5em;
}

form.im-join {
    margin-bottom: 0px;
    margin-top: -4px;
}

.im-column-group {
    line-height: 1.7em;
}

.im-facet .form {
    margin-bottom: 0;
}

.im-facet .im-item-table {
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd;
}

.im-col-summary.dropdown .im-item-table {
    border-top: 1px solid #ddd;
}

.im-facet .input-prepend {
    width: 100%;
}

.im-facet-count {
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.im-column-summary dl {
    margin: 0px;
}
.im-column-summary dl dd {
    display: none;
}
.im-column-summary dl dd a {
    display: inline-block;
    width: 100%;
}
.im-column-summary dl dt i {
    margin-right: 0.5em;
}

.summary-img {
    margin-right: 1em;
    margin-bottom: 0.2em;
    background: #2c2c2c;
    color: white;
    border: 2px solid #dedede;
    border-radius: 1em;
    width: 1em;
    height: 1em;
    padding: 1px 1px 5px 5px;
    font-family: serif;
}

.im-numeric-facet input, .im-numeric-facet label {
    display: inline-block;
}

.im-numeric-facet .facet-content {
    display: none;
}
.im-numeric-facet input {
    display: inline-block;
    border: 0px;
    font-weight: bold;
    width: 3em;
}

.im-facet {
    display: none;
}

.im-col-summary .im-facet {
    display: block;
}

.im-pie-facet form td, .im-pie-facet form th {
    font-size: 0.8em;
    line-height: 1em;
    vertical-align: middle;
}
.im-pie-facet form input[type="checkbox"] {
    height: 1em;
}

form tr.active {
    background: #D9EDF7;
}

.im-item-table > table > tbody > tr.active > td {
    background-color: transparent;
}

.im-query-actions form {
    margin-top: 1em;
    display: none;
}

.im-code-gen .modal {
    width: 700px;
}

.im-code-gen .modal {
    max-height: 600;
    overflow: auto;
}

ul.im-list-tags {
    width: 23em;
    margin: 1em 0;
    padding: 0 0 0.5em 0.5em;
}

ul.im-list-tags.suggestions {
    margin-top: 0;
}

.label i {
}

ul.im-list-tags .label {
    max-width: 22em;
    display: inline-block;
}
ul.im-list-tags .tag-text {
    display: inline-block;
    max-width: 18em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.im-list-tags li {
    display: inline-block;
    float: left;
    margin: 0.5em 0.5em 0 0;
}



/* SVG styles */
path, circle {
    fill: #D9EDF7;
    stroke: #3A87AD;
    stroke-width: 2px;
}

path.falses {
    fill: #bce8f1;
}

path.disabled {
    opacity: 0.5;
}

path.selected {
    fill: #c9aad4;
}

path.yaxis {
    stroke: #555;
    stroke-width: 1px;
}

path.tickline {
    stroke: #ddd;
    stroke-width: 1px;
}

text.pie-label {
    font-size: 14px;
}

.im-facet .slider {
    margin: 1em 1.5em;
    width: 85%;
    font-size: 0.8em;
}

.ui-slider-range.ui-widget-header {
    background:#D9EDF7;
}

@media screen and (max-width: 900px) {
    .im-query-results, .im-query-toolbox {
        width: 100% !important;
    }
}



