.im-constraint-editor {
    .twitter-typeahead {
        width: 100%;
    }

    .ui-slider {
        margin: 1em 0;
        box-shadow: 1px 1px 2px #ccc;
        height: 1px;
        position: relative;
    }
}

.im-con-overview {
    > a {
        .pull-right;
        margin-right: 1em;
        margin-top: 0.25em;
    }

}

