.im-path-finder {
    overflow: visible;
}
.im-filter-manager {
    .im-path-finder.open {
        max-height: 400px;
        overflow-y: auto;
    }
}

.im-new-constraint {
    .im-con-overview {
        .im-name-part {
            display: none;
        }
        .im-name-part:first-child:after {
            content: '...';
        }
       .im-name-part:nth-last-child(-n+4):after {
            content: "\00bb";
            margin-left: 0.5em;
        }
       .im-name-part:last-child:after {
           content: '';
       }
       .im-name-part:first-child,
       .im-name-part:nth-last-child(-n+3) {
           display: inline-block;
       }
    }
}

.im-filter-summary {
    .label-path {
        .im-name-part {
            display: none;
            &:last-child {
                display: inline;
            }
        }
        &.im-show-full-path {
            .im-name-part {
                display: inline;
            }
        }
    }
}
.im-constraint-editor {

    &:empty {
        display: none;
    }

    padding: 1em;

    .path-label {
        text-align: right;
    }

    .twitter-typeahead {
        width: 100%;
    }

    .ui-slider {
        margin: 1em 0;
        box-shadow: 1px 1px 2px #ccc;
        height: 1px;
        position: relative;

        .im-slider-marker {
            font-family: @font-family-monospace;
            top: 1em;

            &.high {
                margin-left: -1em;
            }
        }
    }

    .alert {
        margin-top: 1em;
    }

    .im-add {
        .im-long {
            display: inline;
        }
        .im-short {
            display: none;
        }
    }

}

.im-con-overview {
    > a {
        .pull-right;
        margin-right: 1em;
        margin-top: 0.25em;
    }

    .im-remove-constraint, .im-edit {
        cursor: pointer;
    }

    .breadcrumb {

        li {
            &:before { content: ''; }
            margin-right: 0.2em;
        }
        .label {
            font-size: 1.1em;
        }
    }

}

