.im-name-part {
    &:after {
        content: "\00bb";
        margin-left: 0.5em;
    }

    &:last-child {
        &:after {
            content: '';
        }
    }
}

.im-column-manager {

  .im-view-list-placeholder {
      min-height: 2.5em;
      background-color: @brand-info;
      list-style-type: none;
  }

  .im-addition {
    .im-path-chooser {
      width: 100%;
      overflow-y: auto;
      margin-left: 0;
      padding-left: 2em;

      .in-view {
        background: @gray-lighter;
        a {
          cursor: not-allowed;
        }
      }
    }
  }

  .im-column-manager-tabs {
    li {
      margin-left: 2em;
    }
  }

  .ui-draggable {
    cursor: move;
  }

  .im-selected-column {
    font-size: small;
    i {
      cursor: pointer;
    }

    &.ui-dragging {
      opacity: 0.6;
    }
    @media (max-width: @screen-md-min) {
      &.ui-draggable-dragging {
        width: 88.5%;
      }
    }
  }
  .im-empty-collection {
    margin-bottom: 1em;
    font-size: 1.25em;
    padding: 0.25em;
  }
  .im-rubbish-bin {
      padding-top: 0.7em;
      padding-bottom: 0.7em;
  }
  .im-rubbish-bin, .im-empty-collection {
    text-align: center;
    color: @gray-light;
    border: 1px dashed @gray-light;
    border-radius: @border-radius-large;
    overflow-y: auto;

    &.im-can-remove-column {
      border-color: @brand-danger;
      color: @brand-danger;
    }
    &.im-will-remove-column {
      background-color: @state-danger-bg;
      color: @state-danger-text;
    }
    &.im-can-add-column {
      border-color: @brand-success;
      color: @brand-success;
    }
    &.im-will-add-column {
      background-color: @state-success-bg;
      color: @state-success-text;
    }
  }

  .im-change-direction {
    margin-left: 1em;
  }

  .im-path-name {
    margin-left: 1em;

    .im-name-part {
      color: @gray-light;

      &:last-child {
        color: @gray-dark;
      }
    }
  }
  .im-removed {
    margin-left: 1em;
    margin-right: 1em;
    text-align: left;
    text-align: start;
  }
  .im-remove-view, .im-restore-view {
      border-left: 1px solid @list-group-border;
      padding: 10px 1em;
      margin-top: -10px;
      margin-right: -15px;
  }
  .im-restore-view {
      color: @brand-success;
      &:hover {
          background-color: @state-success-bg;
          color: @state-success-text;
      }
  }
  .im-remove-view {
      color: @brand-danger;

      &:hover {
          background-color: @state-danger-bg;
          color: @state-danger-text;
      }
  }
  .im-position-controls {
      position: relative;
      float: left;

      i {
          color: @gray-light;
          position: absolute;
          left: 0;

          &:nth-child(2) {
              top: 0.6em;
          }
      }

  }

}
