.im-column-th {

    font-weight: normal;

    .im-col-title {
        font-weight: bold;
    }

    .im-th-button {
        cursor: pointer;
    }

    .im-item-table {
        max-height: 350px;
        overflow-y: auto;
    }

    .open {
        .im-th-button {
            background-color: @btn-primary-bg;
            color: @btn-primary-color;
        }
    }

    .im-dropdown-summary {
        min-width: 360px;

        h3 {
            padding: 0 0.5em;
            margin-top: 0.2em;
            font-size: 20px;
        }

    }

}


