.im-column-th {

    font-weight: normal;

    .im-col-title {
        font-weight: bold;
    }

    .im-th-button {
        cursor: pointer;
    }

    .im-item-table {
        max-height: 350px;
        overflow-y: auto;
    }

    .im-th-button i {
        color: @brand-primary;
    }

    .open {
        .im-th-button i {
            background-color: @brand-primary;
            color: @brand-primary-constrast;
        }
    }

    .im-has-constraint {
        .im-th-button.im-col-filters i {
            color: @brand-secondary;
        }
        .open {
            .im-th-button.im-col-filters i {
                background-color: @brand-secondary;
                color: @brand-secondary-constrast;
            }
        }
    }

    .im-dropdown-summary {
        @media (max-width: 360px) {
            width: 100%;
        }
        @media (min-width: 360px) {
            min-width: 360px;
        }

        h3 {
            padding: 0 0.5em;
            margin-top: 0.2em;
            font-size: 20px;
        }

    }

    .dropdown-menu {
        .alert {
            border-radius: 0;
        }

        &.im-fullwidth-dropdown {
            width: 100%;
            position: fixed;
            left: 0;
            top: 5px;
        }
    }

    .im-constraints {
        h3 {
            padding: 0 0.5em;
        }
        @media (max-width: 500px) {
            width: 100%;
        }
        @media (min-width: 500px) {
            min-width: 500px;
        }
        .well {
            .well-sm();
        }
        .im-active-constraints {
            padding: 0;
        }
        button.im-add-constraint {
            .pull-right();
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        .path-label {
            .col-xs-12();
            text-align: center;
        }

        .im-operator {
            .col-xs-3();
        }

        .im-value-section {
            .col-xs-9();

            .im-multi-value-table {
                .im-table-height-wrapper {
                    max-height: 300px;
                    overflow-y: auto;
                }
                table {
                    tbody {
                        tr {
                            border-left: 1px solid @table-border-color;
                            border-right: 1px solid @table-border-color;
                            .im-multi-value {
                                .input-group {
                                    input {
                                        min-width: 12em;
                                    }
                                    .input-group-btn {
                                        .btn {
                                            padding-left: 0.5em;
                                            padding-right: 0.5em;
                                        }
                                        .im-long {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        &:last-child {
                            border-bottom: 1px solid @table-border-color;
                        }
                    }
                }
                .im-add {
                    font-weight: bold;
                    .im-long {
                        display: none;
                    }
                    .im-short {
                        display: inline;
                    }
                }

            }
        }
    }

}


