.im-undo-history {

  .im-state-list {
    
    .im-toggle-trivial {
      position: relative;
      top: -0.5em;
    }

    li > .btn {
      .pull-right();
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: -0.5px;
    }
  }

  .im-step {

    min-width: 280px;
    border-bottom: 1px solid @dropdown-border;

    &:last-child {
      border-bottom: none;
    }

    .im-section-summary {
        cursor: pointer;
    }

    .well {
        .label {
            display: inline-block;
        }
    }

    .im-step-count {
        .im-label-pos {
            .label-variant(@pos-diff-label-bg);
        }
        .im-label-neg {
            .label-variant(@neg-diff-label-bg);
        }
    }
  }

  .im-ellipsis {
      box-shadow: inset 0 6px 6px -3px #bbb;
      min-height: 2em;
      text-align: center;
      font-weight: bold;
      background: @gray-lighter;
      color: @gray-light;
      cursor: pointer;
  }

}
