.im-undo-history {

  .im-state-list {
    
    .im-toggle-trivial {
      position: relative;
      top: -0.5em;
    }

    li > .btn {
      .pull-right();
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: -0.5px;
    }

  }

  .im-step {

    padding-left: 0.3em;

    h4 {
        font-size: 16px; 

        .im-revision {
            font-size: 0.9em;
        }
    }

    &.im-current-state {
      background: @gray-lighter;
      margin-top: -1em;
    }

    min-width: 300px;
    border-bottom: 1px solid @dropdown-border;

    &:last-child {
      border-bottom: none;
    }

    .im-section-summary {
        cursor: pointer;
    }

    .im-revision {
        .pull-right();
        .help-block();
        margin: 0 1em;
    }

    .well {
        .label {
            display: inline-block;
        }
    }

    .im-step-count {
        .im-label-pos {
            .label-variant(@pos-diff-label-bg);
        }
        .im-label-neg {
            .label-variant(@neg-diff-label-bg);
        }
    }

    .im-step-count {
        .pull-right();
        span {
            float: right;
        }
        .label {
            margin-right: 0.5em;
        }
    }
  }

  .im-ellipsis {
      box-shadow: inset 0 6px 6px -3px #ddd;
      min-height: 2em;
      text-align: center;
      font-weight: bold;
      background: @gray-lighter;
      color: @gray-light;
      cursor: pointer;
  }

}
