.modal.im-create-list {
    .im-tags {
        .im-apology {
            color: @gray-light;
            text-transform: lowercase;
            font-variant: small-caps;
        }
    }

    .im-tags {
        .label {
            font-size: 1.2em;
            display: inline-block;
            margin-right: 0.5em;
            margin-bottom: 0.2em;
        }
    }
}
