@import "font-awesome/less/font-awesome.less";
@import "bootstrap/less/bootstrap.less";

.im-hidden {
    display: none;
}

@import "variables.less";

.label-path {
    .label-variant(@label-path-bg);
}
.label-op {
    .label-variant(@label-op-bg);
}
.label-value {
    .label-variant(@label-value-bg);
}

.breadcrumb.summary {
    > li {
        + li:before {
            content: "@{summary-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
        }

        > .label {
            display: inline-block;
        }
    }
}
