.im-summary-chart {
    .im-bucket, .im-item-bar {
        fill: @brand-primary;
        stroke: lighten(@brand-primary, 80%);
    }

    .im-item-bar.selected {
        fill: @brand-secondary;
    }
    .rubberband-selection {
        fill: fadeout(@brand-warning, 70%);
        stroke: @brand-warning;
    }

    .donut-arc {
        stroke: white;
        stroke-width: 0.5;
    }

    .axis {
        stroke: #000;
    }

    .average {
        stroke: @brand-secondary;
        stroke-width: 2px;
    }

    .tick-line {
        stroke: gray;
        text-anchor: start;
    }

}

.im-summary-selected-count {
    .alert {
        margin-bottom: 1em;
    }
}

.im-summary-stats {

    padding: 2em;

    .table {
        th, td {
            text-align: right;
        }
    }
    .slider {
        margin-top: 1em;
    }
}

.im-summary-items {

    .im-facet-row {
        &.hover {
            background-color: lighten(@selected-row-color, 2%);
            border-top: @selected-row-border;
            border-bottom: @selected-row-border;
        }
        &.im-selected {
            background-color: @selected-row-color;
            border-top: @selected-row-border;
            border-bottom: @selected-row-border;
        }

        .checkbox {
            margin-top: 0;
            margin-bottom: 0;
        }

    }
    .im-item-col {
        .null-value:after {
            font-weight: bold;
            color: @gray-lightish;
            content: 'NOTHING';
        }
    }
    .im-count-col {
        font-weight: bold;
        text-shadow: -1px -1px #fff;
        text-align: right;
        .im-facet-bar {
            .pull-right();
            padding-right: 0.5em;
            height: 1.3em;
            border-radius: @facet-bar-radius;
        }
        .im-count {
            position: absolute;
            right: 0.5em;
        }
    }

    .im-summary-controls {
        .popover-content {
            padding: 0;
        }
    }

    .im-export-summary {
        .dropdown-menu();
        border: none;
        position: relative;
        display: block;
    }

    .im-facet-surrogate {
        width: 100%;
        position: absolute;
        padding: 0.5em 0;
        background: @state-info-bg;
        color: @state-info-text;
        border-top: 1px solid;

        &.above {
            border-top: none;
            border-bottom: 1px solid;
        }
    }

    .im-item-table {
        position: relative;
    }

}


