.im-summary-chart {
    .im-bucket, .im-item-bar {
        fill: @brand-primary;
        stroke: lighten(@brand-primary, 80%);
    }

    .im-item-bar.selected {
        fill: @brand-secondary;
    }
    .rubberband-selection {
        fill: fadeout(@brand-warning, 70%);
        stroke: @brand-warning;
    }

    .donut-arc {
        stroke: white;
        stroke-width: 0.5;
    }

}

.im-summary-stats {

    padding: 2em;

    .table {
        th, td {
            text-align: right;
        }
    }
    .slider {
        margin-top: 1em;
    }
}

.im-summary-items {

    .im-facet-row {
        &.hover {
            background-color: lighten(@selected-row-color, 5%);
            border: @selected-row-border;
        }
        &.im-selected {
            background-color: @selected-row-color;
            border: @selected-row-border;
        }

    }
    .im-count-col {
        font-weight: bold;
        text-shadow: -1px -1px #fff;
        text-align: right;
        .im-facet-bar {
            .pull-right();
            padding-right: 0.5em;
            border-radius: @facet-bar-radius;
        }
    }

    .im-summary-controls {
        .popover-content {
            padding: 0;
        }
    }

    .im-export-summary {
        .dropdown-menu();
        border: none;
        position: relative;
        display: block;
    }

}


