.nullish() {
    color: @gray-lightish;
    font-weight: bold;
    text-transform: uppercase;
}
.table {
    tbody > tr {
        td.im-result-field {
            &.active {
                background-color: @brand-primary;
                color: @brand-primary-contrast;

                a {
                    color: @brand-primary-contrast;
                }
            }
            .im-null-entity {
                .nullish;
            }

            .im-null-value {
                &:before {
                    content: '\2205';
                    .nullish;
                }
                @media (min-width: @screen-md-min) {
                    &:before {
                        content: 'No value';
                    }
                }

            }
        }

    }
}
