.nullish() {
    color: @gray-lightish;
    font-weight: bold;
    text-transform: uppercase;
}


.im-table-container {
    position: relative;

    .im-table-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: @modal-backdrop-bg;
        opacity: @modal-backdrop-opacity;
        h1 {
            font-size: 72px;
            position: absolute;
            left: 25%;
        }
    }

    .im-table-controls {
        .im-page-sizer, .im-table-summary {
            margin: @line-height-computed 0;
        }
        .im-table-control {
            float: right;
            margin-left: 1em;
        }
        .im-table-summary {
            height: @input-height-base; // Align with other elements.
            line-height: @input-height-base; // So that the text is center aligned.
            float: left;
            margin-left: 0;
            font-weight: bold;
        }
    }
}
.table {
    tbody > tr {

        td.im-minimised {
            width: @minimised-column-width;
        }

        .im-result-subtable {

            padding: 0;

            table.im-subtable {
                th {
                    & > a {
                        cursor: pointer;
                    }
                    font-size: smaller;
                }
                margin-bottom: 0;
            }

            .im-subtable-summary {
                cursor: pointer;
                padding: 0.5em 1em;
                display: inline-block;
            }
        }
        td.im-result-field {
            &.im-not-selectable {
                color: @gray-lightish;
                input {
                    opacity: 0.5;
                }
                a {
                    color: @gray-lightish;
                }
            }
            &.active {
                background-color: @brand-primary;
                color: @brand-primary-contrast;

                a {
                    color: @brand-primary-contrast;
                }
            }
            .im-null-entity {
                .nullish;
            }

            .im-null-value {
                &:before {
                    content: '\2205';
                    .nullish;
                }
                @media (min-width: @screen-md-min) {
                    &:before {
                        content: 'No value';
                    }
                }

            }
        }

    }
}
