@border-radius-base: 2px;
@border-radius-large: 3px;
@border-radius-small: 0px;

@label-path-bg: @label-default-bg;
@label-value-bg: @label-info-bg;
@label-op-bg: @label-success-bg;

@summary-separator: "";

@label-extra-bg: #C45BDE;

@screen-md-min: 900px;

@facet-bar-radius: 5px;

@selected-row-border: 1px solid #e3d19f;
@selected-row-color: #fff3d3;

/* http://paletton.com/#uid=73G1J0klSr79MMThGv0q0nptxiD */
@brand-primary: rgb(55, 87, 139);
@brand-success: rgb(120, 188, 63);
@brand-secondary: rgb(189, 63, 101);
@brand-info: rgb(84, 114, 162);
@brand-warning: rgb(211, 160, 71);
@brand-danger: rgb(162, 34, 73);

@state-info-bg: rgb(157, 180, 217);
@state-info-text: rgb(16, 47, 95);
@state-danger-bg: rgb(243, 169, 191);
@state-danger-text: rgb(133, 10, 47);

