.intermine

  .im-table-container

    .table
      
      .im-result-field

        .im-cell-link
          color darkish

        &:hover
          background-color accent
          
          .im-cell-link
            color white


