@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,600,600italic);

body {
    margin: 0px;
}

.navbar ul {
    padding: 0px;
}

#logged-in-notice a.username {
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}

#logged-in {
    display: none;
}
#logged-out,
#logged-in.logged-in {
    display: inline-block;
}
#logged-out.logged-in {
    display: none;
}
#logged-out {
    top: 1em;
}

#registration-fields {
    display: none;
}

#change-user-form {
    min-width: 350px;
}


.bootstrap .navbar-fixed-top {
    position: fixed;
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #ccc;
    top: 0px;
    background: white;
    z-index: 800;
}
.navbar-covering {
    box-shadow: 1px 1px 6px #bbb;
}

.bootstrap .navvar .pull-right {
    float: right;
    margin-right: 0;
}

.navbar-inner {
    width: 100%;
    min-height: 40px;
}

.bootstrap .navbar .navbar-inner .brand {
    display: block;
float: left;
padding: 0.8em 1.6em;
margin-left: -20px;
font-size: 1.2em;
font-weight: 200;
font-family: 'Lobster', serif;
text-shadow: 0 1px 0 #ffffff;}

.bootstrap ul#login-status,
.bootstrap .navbar .entry-points {
    list-style-type: none;
    margin: 0px;
    display: inline;
}
    .bootstrap .navbar .container {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin: 0em;
    display: inline-block;
    float: left;
    list-style-type: none;
    text-decoration: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

ul.notifications li,
.bootstrap .navbar .entry-points .active a {
    background: white;
    border: 1px solid #0088cc;
    box-shadow: inset 0 1px 1px rgba(0 , 0 , 0 , 0.075) , 0 0 8px rgba(82 , 168 , 236 , 0.6);}

.bootstrap .navbar #entry-dropdowns:hover,
.bootstrap .navbar ul.entry-points a:hover {
    background-color: #0088cc;
    color: #fff;
    font-weight: bold;
}
.bootstrap .navbar .container a {
    color: #5c5c5c;
    text-decoration: none;
    font-family: "Open Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 0.25em;
}

.bootstrap .navbar a#entry-dropdowns,
.bootstrap .navbar .login-controls a,
.bootstrap .navbar .entry-points a {
    font-family: 'Josefin Slab', 'Open Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    margin: 0px;
    padding: 2em 0.5em 1em 0.5em;
}
.entry-points:after {
    clear: both;
}
.bootstrap .navbar a#entry-dropdowns,
.bootstrap .navbar .entry-points a {
    position: relative;
    top: 1em;
}
.bootstrap .navbar:after {
    clear: both;
}
.bootstrap .navbar ul li {
    display: block;
    float: left;
}
body {
    padding-top: 55px;
}
.bootstrap .navbar .container {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}
.bootstrap .navbar .entry-points {
    display: none;
}
.bootstrap .navbar a#entry-dropdowns {
    width: 
    display: block;
    font-size: 14px;
    padding-bottom: 2em;
}
.bootstrap .navbar a#entry-dropdowns:after {
    content: "\25bc";
}

.bootstrap .navbar ul.entry-points.dropdown {
    min-height: 2.4em;
    z-index: 800;
    background: white;
    display: block;
    position: fixed;
    border: 1px solid #ccc;
    top: 44px;
}
.bootstrap .navbar ul.entry-points.dropdown li {
    display: block;
}
.bootstrap .navbar ul.entry-points.dropdown li > a {
    padding: 2em 1em;
}

#change-user-menu {
    padding: 0.5em 1em;
}
@media screen and (min-width: 500px) {
    .bootstrap .navbar .container {
    width: 500px;
    }
}
@media screen and (min-width: 600px) {
    .bootstrap .navbar .container {
    width: 600px;
    }
}

@media screen and (min-width: 700px) {
    .bootstrap .navbar .container {
    width: 700px;
    }
    .bootstrap .navbar .entry-points a {
        padding: 2em 0.4em 2em 0.4em;
    }
    .bootstrap .navbar .login-controls a {
        padding: 0px;
    }
    .bootstrap .navbar .navbar-inner .brand {
    padding-right: 0.2em;
}
}
@media screen and (min-width: 750px) {
    .bootstrap .navbar .container {
    width: 750;
    }
}
@media screen and (min-width: 776px) {
    .bootstrap .navbar .container {
    width: 776px;
    }
    .bootstrap .navbar .entry-points {
        display: block;
    }
    .bootstrap .navbar #entry-dropdowns {
        display: none;
    }
    .bootstrap .navbar .login-controls a,
    .bootstrap .navbar .entry-points a {
        padding: 2em 0.7em 1.5em 0.7em;
    }
}
@media screen and (min-width: 836px) {
    .bootstrap .navbar .container {
    width: 836px;
    }
}
@media screen and (min-width: 850px) {
    .bootstrap .navbar .container {
    width: 850px;
    }
    .bootstrap .navbar .login-controls a,
    .bootstrap .navbar .entry-points a {
        font-size: 13px;
        padding: 2em 0.6em 1em 0.6em;
    }
}
@media screen and (min-width: 900px) {
    .bootstrap .navbar .navbar-inner .brand {
    padding-left: 1em;
    padding-right: 0.5em;
}
    .bootstrap .navbar .login-controls a,
    .bootstrap .navbar .entry-points a {
        font-size: 15px;
    }

    .bootstrap .navbar .container {
    width: 895px;
    }
}
@media screen and (min-width: 1000px) {
    .bootstrap .navbar .container {
    width: 995px;
    }
    .bootstrap .navbar .login-controls a,
    .bootstrap .navbar .entry-points a {
        font-size: 16px;
        padding: 2em 0.8em 1em 0.8em;
    }
}
@media screen and (min-width: 1100px) {
    .bootstrap .navbar .container {
    width: 1095px;
    }
    .bootstrap .navbar .login-controls a,
    .bootstrap .navbar .entry-points a {
        padding: 2em 1.1em 1em 1.1em;
    }
}
@media screen and (min-width: 1200px) {
    .bootstrap .navbar .container {
    width: 1150px;
    }
    .bootstrap .navbar .login-controls a,
    .bootstrap .navbar .entry-points a {
        padding: 2em 1.3em 1em 1.3em;
    }
}
@media screen and (min-width: 1300px) {
    .bootstrap .navbar .container {
    width: 1280px;
    }
    .bootstrap .navbar .login-controls a,
    .bootstrap .navbar .entry-points a {
        padding: 2em 1.75em 1em 1.75em;
    }
}
@media screen and (min-width: 1400px) {
    .bootstrap .navbar .container {
    width: 1350px;
    }
.bootstrap .navbar .login-controls a,
.bootstrap .navbar .entry-points a {
    padding: 2em 2em 1em 2em;
}
}
@media screen and (min-width: 1500px) {
    .bootstrap .navbar .container {
    width: 1450px;
    }
}

ul.notifications.withnav {
    top: 28px;
}
ul.notifications li {
    border-radius: 0px;
    z-index: 5000;
    opacity: 1;
}
ul.notifications li,
ul.notifications li div h1 { 
    color: #555;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

ul.notifications li.warning,
ul.notifications li.error,
ul.notifications li.success {
    background: white;
}

ul.notifications li.warning,
ul.notifications li.error {
    border: 1px solid rgb(204, 0, 82);
    box-shadow: inset 0 1px 1px rgba(0 , 0 , 0 , 0.075) , 0 0 8px rgba(236 , 82 , 125 , 0.6);
}

ul.notifications li.success {
    border: 1px solid #0088cc;
    box-shadow: inset 0 1px 1px rgba(0 , 0 , 0 , 0.075) , 0 0 8px rgba(82 , 168 , 236 , 0.6);
}

ul.notifications li:first-child {
    border-top: none;
}

#settings-dialogue textarea, #settings-dialog input, #settings-dialogue select {
    width: 80%;
}

#error-messages {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#error-messages .error-message {
    position: relative;
    width: 250px;
    min-height: 50px;
    border: 3px solid #aaa;
    margin: 4px;
    padding: 5px;
    color: #333;
    font-family: 'Open Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    box-shadow: 2px 1px 3px #ccc;
    background: rgba(254, 254,254, 0.7);
}

.error-message .dismiss {
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    color: #555;
    right: 3px;
    top: 3px;
}
