<div class="im-con-overview">
  <% if (data.con.editable != null && data.con.editable === false) { %>
    <a title="<%- data.messages.getText('conbuilder.NotEditable') %>">
        <%= data.icons.icon('Lock') %>
    </a>
  <% } else { %>
    <a class="im-remove-constraint"
        title="<%- data.messages.getText('conbuilder.Remove') %>"
        >
        <%= data.icons.icon('RemoveConstraint') %>
    </a>
    <a class="im-edit" title="<%- data.messages.getText('conbuilder.EditCon') %>">
        <%= data.icons.icon('Edit') %>
    </a>
  <% } %>
</div>

<div class="im-constraint-editor">
</div>
