<% if (code) { %>
  <li><span class="text-muted"><strong><%- code %>:</strong></span></li>
<% } %>
<% _.each(labels, function (label) { %>
  <li>        
    <span class="label label-<%- label.type %>">
      <% if (_.include(['error', 'warning'], label.type)) { %>
        <%= Icons.icon('Error') %>
        <%- Messages.getText('consummary.' + label.content) %>
      <% } else if (label.type === 'path') { %>
        <% _.each(label.content.split(' > '), function (part) { %>
          <span title="<%- label.content %>" class="im-name-part"><%- part %></span>
        <% }); %>
      <% } else { %>
        <% if (label.icon) { %><%= Icons.icon(label.icon) %><% } %>
        <%- label.content %>
      <% } %>
    </span>
  </li>
<% }); %>
