<td>
  <input type="checkbox" {{ (selected) ? 'checked' : void 0 }}>
</td>
<td class="im-multi-value">
  {{# if (editing) { }}
    <div class="input-group">
      <input type="text" value="{{ value }}" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-success im-save"
                title="{{ messages.getText('multivalue.SaveValue') }}"
                type="button">
            {{{ icons.icon('OK') }}}
            <span class="im-long">{{ messages.getText('multivalue.SaveValue') }}</span>
        </button>
        <button class="btn btn-warning im-cancel"
                title="{{ messages.getText('Cancel') }}"
                type="button">
            {{{ icons.icon('Cancel') }}}
            <span class="im-long">{{ messages.getText('Cancel') }}</span>
        </button>
      </span>
    </div>
  {{# } else { }}
    <a class="im-edit pull-right">{{{ icons.icon('Edit') }}}</a>
    {{ value }}
  {{# } }}
</td>
